.autocomplete {
    display: inline-block;
    width: 50%;
    position: relative;

    ul {
        position: absolute;
        bottom: -5;

        margin: 0;
        padding: 0;

        list-style-type: none;
        width: 100%;

        background-color: white;
    }

    li {
        padding: 8px;
        cursor: pointer;
    }

    li:hover {
        background-color: yellow;
    }
}